body {
  width: 100%;
  color: #fff;
  background: url("darklantex.jpg");
  background-size: 250px;

  display: flex;
  justify-content: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  /* background: linear-gradient(to top, #4d4b4b, #777); */
  backdrop-filter: blur(20px);
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  border-radius: 10px;
  width: 95%;

  position: absolute;

  height: 8rem;
}

header h1 {
  font-size: 45px;
  margin-top: 5rem;
}

header h1,
main h1,
main section .header h2 {
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, lightblue, #99d9fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header abbr {
  background-image: linear-gradient(to bottom, lightblue, #0d6efd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  margin-bottom: 5rem;
}

header button {
  position: inherit;
  top: 1%;
  right: -2%;

  height: 20%;
  width: 10%;

  border-radius: 10px;
  border-color: transparent;
  border-width: 0px;

  margin: 2px;

  background: linear-gradient(to top, #00b9da, #0a0eff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  /* font-weight: bolder; */
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header button:hover {
  background: linear-gradient(to top, #f3ebeb, #26deff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: rgba(61, 61, 61, 0.8);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  margin: 0.5rem;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu_options {
  background-color: rgba(14, 14, 14, 0.938);
  border-radius: 10px;
  color: #000;
  font-size: 18px;
  padding: 5px 5px 5px 15px;

  position: fixed;
  margin-left: -49%;
  margin-top: 2.9rem;

  width: 50%;
  height: 10.5rem;

  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
}

.menu_options:hover {
  background-color: rgba(14, 14, 14, 0.938);
  color: whitesmoke;
}

.menu_options li {
  margin: 3.5px 3.5px 3.5px 3.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.menu_options .fa-house {
  /* font-size: 30px; */
  margin: 2px 2px 2px 2px;
}

.menu_options li::marker {
  color: transparent;
}

.menu_options li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 2px;

  width: 180px;
}

.menu_options li a:hover {
  color: whitesmoke;
  background-color: #acacacef;
  padding: 10px 10px 10px 5px;
  /* height: 0.5rem; */

  border: none;
  border-radius: 10px;
}

main {
  /* background: linear-gradient(to top, #4d4b4b, #777); */
  backdrop-filter: blur(5px);

  position: absolute;
  /* background-color: hwb(0 47% 53%); */
  color: #000;
  width: 95%;

  padding: 10px;
  top: 12rem;

  border-radius: 10px;
  border: none;
}

main section p {
  font-weight: lighter;
  font-size: 20px;
}

main section .head_section {
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  border-radius: 10px;
  padding: 10px;

  position: relative;
  top: -10px;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

main section .home_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section div h2 {
  font-weight: lighter;

  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #0470af;

  display: flex;
  justify-content: center;
}

main section .home_section h2::first-letter {
  color: #0d6efd;
}

main .Home {
  display: none;
}

main section .service_container div h1 {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .service_container ul {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

main section .service_container ul li button {
  padding: 10px;
  margin: 0px;

  border-radius: 10px;
  border: none;
}

main section .service_container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

main section .service_container ul li {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section .service_container ul li::marker {
  color: transparent;
}

main section .service_container ul li div {
  background: linear-gradient(to bottom, rgb(131, 131, 131), #c4bcbc);
  color: #000;

  padding: 10px 10px 10px 10px;
  margin: 2px 2px 2px 2px;

  border-radius: 10px;
}

main section .service_container ul li div ul li button {
  background-color: #000;
  color: #fff;

  width: 120px;
  margin: 0px 0px 0px 0px;
}

main section .service_container ul li div div h3 {
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: underline;
}

main section .service_container ul li div div h3::first-letter {
  color: #14ffeb;
}

main section .service_container ul li div div ul li a {
  color: cyan;
  text-shadow: 2px 1px 2px #616151;
  text-decoration: none;
  text-transform: capitalize;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 25px;
}
