body {
  /* background: url("lightlantex.jpeg");
  background-color: #201f1f;
  background-size: 50%;
  background-blend-mode: overlay; */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  backdrop-filter: blur(10px);
}

header {
  color: #ffffff;
  backdrop-filter: blur(15px);
  border: 1px solid #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 95%;

  height: 8rem;
}

header h1 {
  font-size: 45px;
}

header abbr {
  font-weight: lighter;
  font-size: 18px;
}
header h1,
header abbr {
  background: linear-gradient(to bottom, rgb(0, 255, 200), rgb(0, 0, 211));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.login_body {
  color: #fff;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  backdrop-filter: blur(10px);
  border: 1px solid #0d6efd;
  border-radius: 10px;
  width: 95%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_body form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80%;
}

.login_body h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 2px;
}

.login_body input {
  width: 70%;

  border: none;
  border-radius: 10px;
  height: 3.5rem;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;

  color: whitesmoke;
  background-color: rgba(26, 25, 25, 0.8);

  font-size: 20px;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login_body input:active {
  background-color: #7771;
}

.login_body input:hover {
  /* background-color: whitesmoke; */
  color: rgb(255, 255, 255);
  border: none;
}

.login_body input::placeholder {
  color: rgb(90, 167, 255);
}
.login_body button {
  /* width: 30%;
  height: 2rem;
  border-radius: 10px;

  font-size: 15px;
  font-weight: lighter; */
  width: 30%;
  margin: 15px 15px 15px 15px;
}

.login_body a {
  color: #0d6efd;
}
