body {
  width: 100%;
  color: #fff;
  /* background: url("darklantex.jpg"); */
  background-size: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  border: 1px solid #0d6efd;

  background: linear-gradient(to top, rgba(36, 36, 37, 0.849), #0754e286);
  border-radius: 10px;
}

#offcanvas_container_body {
  border: 2px solid transparent;
  border-top-color: #0d6efd;
}

#offcanvas_container_body li a:active {
  color: red;
}

#offcanvas_container_body li a:hover {
  color: #0d6efd;
  text-shadow: 0px 1px 6px #000;
}

#offcanvas_container_body li a i {
  padding: 10px;
}

#head_container {
  /* background: linear-gradient(to top, #4d4b4b, #777); */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#head_container small {
  color: rgb(162, 166, 179);
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-size: 45px;
}

#heading {
  text-transform: uppercase;

  background-image: linear-gradient(to top, rgb(9, 87, 255), #e3c8f8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

main h1,
main section .header h2 {
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, lightblue, #99d9fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

main {
  /* background: linear-gradient(to top, #4d4b4b, #777); */
  backdrop-filter: blur(5px);

  /* position: absolute; */
  /* background-color: hwb(0 47% 53%); */
  color: #fff;
  width: 95%;

  padding: 10px;
  margin-top: 12rem;

  border-radius: 10px;
  border: none;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
}

main section p {
  font-weight: lighter;
  font-size: 20px;
}

main section .head_section {
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 102, 255, 0.856);
  width: 100%;
  border-radius: 10px;
  padding: 10px;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

main section .home_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section div h2 {
  font-weight: lighter;

  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #0470af;

  display: flex;
  justify-content: center;
}

main section .home_section h2::first-letter {
  color: #0d6efd;
}

main .Home {
  display: flex;
}

main .Services {
  display: flex;
}

main section .home_section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main section .head_section {
  text-align: center;
}

main section .service_container div h1 {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 

main section .service_container ul {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

main section .service_container ul li button {
  padding: 10px;
  margin: 0px;

  border-radius: 10px;
  border: none;
}

main section .service_container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
*/
/* 
main section .service_container ul li {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

main section .service_container ul li::marker {
  color: transparent;
}

main section .service_container ul li div {
  /* background: linear-gradient(to bottom, rgb(131, 131, 131), #c4bcbc);
  color: #000; */

  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;

  border-radius: 10px;
}
/* 
main section .service_container ul li div ul li button {
  background-color: #000;
  color: #fff;

  width: 120px;
  margin: 0px 0px 0px 0px;
} */

main section .service_container ul li div div h3 {
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: underline;
}

main section .service_container ul li div div h3::first-letter {
  color: #0d6efd;
}

main section .service_container ul li div div ul li a:hover {
  color: #0d6efd;
  text-shadow: 2px 1px 2px #444444;
  text-decoration: none;
  text-transform: capitalize;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  /* font-size: 25px; */
}
